/** @format */
.searchContainer {
  padding: 40px;
}

.searchInput {
  margin: 0 auto;
  display: block;
  width: 300px;
  padding: 5px 15px;
  border: 2px solid #3d3d3d;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

.searchInput::placeholder {
  color: #aaa;
  font-style: italic;
  font-size: 15px;
}

.searchInput:focus {
  border-color: #5c646d;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

.queryParam {
  text-align: center;
  font-size: 20px;
}
