/** @format */

.recipeList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
}
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
