/** @format */

.recipeList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  margin: 20px 0;
}

.queryParam {
  text-align: center;
  text-decoration: underline;
  font-size: 25px;
}
